.btn {
  padding: 6.5px 36px;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  line-height: 1.5; }

.svg {
  vertical-align: text-top; }

.btn-red {
  background: #f32924;
  border: 1px solid #f32924;
  color: #fff; }

.btn-white {
  border: 1px solid #f32924;
  color: #f32924; }
