.music-list { 
  margin: 133px auto 0 auto;
  left: 100px;
  position: relative;
  width: 950px;
  
  .music-list__item {
    width: 443.4px;
    height: 266.7px;
    display: inline-block;
    margin: 11px;
    overflow: hidden;
    cursor: pointer;
    
    h2, p {
      text-align: left;
      margin-left: 27px;
      color: white;
    }
    
    p {
      margin: 0 0 0 27px;
    }
    
    .blur {
      width: 443.4px;
      height: 266.7px;
      overflow: hidden;
      position: absolute;
      &::before {
        width: 120%;
        height: 120%;
        z-index: -1;
        left: -15px;
        right: -15px;
        top: -15px;
        bottom: -15px;
        display: block;
        position: absolute;
        content: ' ';
        background-image: url(../assets/img/album-cover-copy.png);
        background-size: cover;
        background-repeat: no-repeat;
        filter: url('#blur');
        filter: blur(5px);
      }

    }
    
  }
}