@import "./config.scss";

$left-padding: 60px;
$right-padding: 58px;
$top-padding: 45px;
$bottom-padding: 51px;

.upload-form-wrapper {
  width: 825px - ($left-padding + $right-padding);
  height: 550px - ($top-padding + $bottom-padding);
  background-color: #ffffff;
  box-shadow: 20px 20px 20px 0 rgba(0, 0, 0, 0.26);
  padding: $top-padding $right-padding $bottom-padding $left-padding;
}

.Upload {
  background-image: linear-gradient(57deg, rgba(217, 217, 217, 0.5), rgba(68, 68, 68, 0.5));
  height: 100vh;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 133px;
  max-width: 1140px;
}

.upload-form-header {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.upload-file-header {
  font-size: 25px;
  font-weight: bold;
}

.esc-page {
  margin-left: auto;
}

.upload-svg {
  margin-right: 20px;
}

.upload-file-dropzone {
  width: 328px;
  height: 386px;
  border: solid 1px $color-tomato;
}

.upload-form-main {
  display: flex;
}

.upload-file-info {
  margin-left: auto;
}

.player-input {
  height: 18px;
  border: solid 1px $color-wram-gray;
  padding: 8px 15px;
}

.form-groups {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.player-label {
  margin-bottom: 8px;
  align-self: stretch;
  text-align: left;
}

.form-bottons {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}

.upload-file-info {
  display: flex;
  flex-direction: column;
  flex-basis: 330px;
}

.add-playlist {
  margin-top: 10px;
  .svg {
    margin-right: 8px;
  }
}

.form-bottons {
  button {
    width: 157px;
    height: 40px;
  }
}

.dropzone-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
  color: $color-wram-gray;
  .audio-icon-wrapper {
    margin-bottom: 15px;
  }
  .audio-icon-content {
    width: 174px;
    text-align: center;
  }
}

.album-img-wrapper {
  width: 330px;
  height: 388px;

  img {
    width: 330px;
    height: 330px;
    margin-bottom: -5px;
  }
  .btn-upload-image {
    width: 330px;
    height: 58px;   
  }
}

.wrapper {
  justify-content: center;
  display: flex;
}